# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# SQLite Database
*.db
*.db-journal
*.sqlite3

# Alembic cache
.alembic/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/